

.blog-page {
    background-image: url("../../assets/images/bachground/02.jpg");
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-page h2 {
    color: #fff;
    margin-bottom: 20px;
}

.blog-page p {
    color: #fff;
}